* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none;
}


/* ---------------HEADER------------- */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #1B1833;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    width: 10%;
    margin-left: 1in;
}


header nav ul {
    display: flex;
}

header nav ul a {
    color: #AB4459;
    font-size: larger;
    margin-right: 1.5in;
    cursor: pointer;
}

header nav ul a:hover {
    color: #F29F58;
    transition: 0.3s;
}

header nav .register a {
    color: #fff;
    font-size: larger;
    margin-right: 30px;
}

header nav .register .active {
    color: #AB4459;
    border: 1px solid #F29F58;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #441752;
}

.container {
    width: 100%;
}

/* ---------------BANNER--------------------- */
.container .banner {
    background: rgb(242, 159, 88);
    background: linear-gradient(90deg, rgba(242, 159, 88, 1) 0%, rgba(171, 68, 89, 1) 50%, rgba(68, 23, 82, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container .banner .left-banner {
    width: 50%;
    margin: 1in;
}

.container .banner .left-banner h2 {
    color: #441752;
    font-size: xx-large;
    margin: 5px 0px;
}

.container .banner .left-banner h1 {
    color: white;
    font-size: 50px;
}

.container .banner .left-banner p {
    color: rgb(186, 186, 186);
    font-size: 18px;
    line-height: 35px;
}

.container .banner .left-banner .link {
    margin: 40px 20px;
}

.container .banner .left-banner .link a {
    padding: 15px 25px;
    border: 1px solid #AB4459;
    border-radius: 35px;
    font-weight: 700;
}

.container .banner .right-banner {
    width: 50%;
}



/* ---------------------CONTACT---------------------- */
/* .contact .contact-header {}  */
/* hooson tag*/

.contact {
    height: 2.5in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-header p {
    padding: 20px 30px;
    color: #441752;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.contact .contact-img {
    display: flex;
    justify-content: space-center;
    align-items: center;
}

.contact .contact-img h2 {
    color: #1B1833;
    font-size: 40px;
    font-weight: 600;
}

.contact .contact-img h2 span {
    color: blue;
}

.contact .contact-img img {
    position: absolute;
    right: 2in;
    width: 150px;

}



/* ----------------MAPS------------------- */
.maps {
    height: 5in;
    background-color: #AB4459;
}

.maps .maps-head {
    text-align: center;
    padding: 20px 0px;
}

.maps .maps-head h2 {
    color: white;
    font-size: 25px;
    font-weight: 700;

}

.maps .maps-main {
    display: flex;
    justify-content: center;
    align-items: center;
}








/* --------FOOTER---------- */
footer {
    height: 1in;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1833;
}

footer .footer-text {
    text-align: center;
}

footer .footer-text p {
    color: #ffffff;
    font-size: large;
    font-weight: 700;
}